<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pe-5">
      <h2 class="text-center">Admin Login</h2>
      <form action="/admin/adminlogin" method="post">
        {{#if loginErr}}
        <p class="error">Invalid username or password</p>
        {{/if}}
        <div class="mb-3 mt-5">
          <label for="username" class="form-label">username</label>
          <input required name="username" type="text" class="form-control"  aria-describedby="namelHelp">

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required name="password" type="password" class="form-control" >
        </div>
       
        <div class="col-md-6 mb-3 text-md-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector("form")
form.addEventListener('click', e=>{
  if(!form.checkValidity()){
    e.preventDefault()
  }
  form.classList.add('was-validated')
})
</script>